<mat-divider [vertical]="true" style="margin: 3vh 0;"></mat-divider>

<div class="container">
  <h1>1-es feladat: Videó kölcsönző nyilvántartó rendszer építése</h1>

  <mat-divider [vertical]="true" style="margin: 3vh 0;"></mat-divider>

  <p>Egy elképzelt videó kölcsönző nyilvántartását végző szoftver előállítása volt a cél. A tékában videó kazettákat és DVD-ket lehet kölcsönözni regisztrált felhasználóknak. Az alkalmazást a téka vezetője használja, hogy regisztrálja, és ellenőrizze az ügyfelek kölcsönzéseit. Az alkalmazásnak nem célja a kölcsönzési és késedelmi díjak kimutatása.</p>
  <br>
    <div class="image-container">
      <img src="assets/images/cloud.png" width="1000">
    </div>

</div>
  
  
  
  
